<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <!-- pour faire des API REST -->
        <feature>restfulWS-3.1</feature>
        <!-- pour parser le JSON -->
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <!-- Injection de dépendances -->
        <feature>cdi-4.0</feature>
        <!-- JSP -->
        <feature>pages-3.1</feature>
        <!-- servlets -->
        <feature>servlet-6.0</feature>
        <!-- JPA -->
        <feature>persistence-3.1</feature>
    </featureManager>

    <variable name="env.PORT" defaultValue="8080" />
    <variable name="env.HOST" defaultValue="localhost" />

    <!-- This template enables security. To get the full use of all the capabilities, a keystore and
    utilisateur registry are required. -->

    <!-- For the keystore, default keys are generated and stored in a keystore. To provide the
    keystore password, generate an 
        encoded password using bin/securityUtility encode and add it below in the password attribute of the
    keyStore element. 
        Then uncomment the keyStore element. -->
    <!--
    <keyStore password=""/> 
    -->

    <!--For
    a utilisateur registry configuration, configure your utilisateur registry. For example, configure a basic utilisateur
    registry using the
        basicRegistry element. Specify your own utilisateur name below in the name attribute of the utilisateur element.
    For the password,
        generate an encoded password using bin/securityUtility encode and add it in the password attribute
    of the utilisateur element.
        Then uncomment the utilisateur element. -->
    <basicRegistry id="basic" realm="BasicRealm">
        <!--
        <utilisateur name="yourUserName" password="" />
        -->
    </basicRegistry>

    <!-- To access this server from a remote client add a host attribute to the following element,
    e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
        host="${env.HOST}"
        httpPort="${env.PORT}" />

    <!-- dans location mettre artifactId.war (artifactId est défini dans le pom) -->
    <webApplication contextRoot="/" location="jakartaee-hello-world.war" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <!-- Postgresql Library Configuration -->

    <library id="jdbcLib">
        <fileset dir="${shared.resource.dir}/" includes="*.jar" />
    </library>

    <!-- Définition du datasource -->
    <dataSource id="eventjpadatasource" jndiName="jdbc/eventjpadatasource">
        <jdbcDriver libraryRef="jdbcLib"/>
        <properties serverName="localhost" portNumber="3306"
                    databaseName="jakartaee"
                    user="root"
                    password="root"/>
    </dataSource>

</server>